.fb-starter-layout-field {
  width: 220px;
  margin-left: 8px;
}

.fb-preview-ui-field {
  width: 170px;
  margin-left: 8px;
}

.fb-preset-preview-content {
  min-width: 0;
}

.fb-preset-preview-title {
  font-weight: 600;
  font-size: 12px;
}

.fb-preset-preview-description {
  font-size: 11px;
  color: #6f6f84;
}

.fb-preset-preview-highlights {
  font-size: 10px;
  color: #8c8ca2;
}
